<link rel="stylesheet" href="/css/profile.css" />
{{> profile-nav}}

<div class="container-fluid" id="profile-navbar">
    <div class="row">
        <div class="col-lg-3" id="sidebar" >
         {{> side-nav}}
            <div class="datetime"></div>
            <p class="datepicker">Date: <input type="text" id="datepicker"></p>
            <div class="search-div">
            <button class="btn search-btn" id="date-search">Search</button>
            </div>
            <hr>
        </div>
        <div class="col-lg-9" id="content">

            <div id="todos">
                <ul id="todo-list">
                    {{#each todoData}}
                    <li class="todo-item" id="{{this.id}}">
                        <div class="todo-item-title">
                            <h3>{{this.text}}</h3>
                        </div>
                        <div class="todo-item-body">
                            {{#if this.isDone}}
                            <label class="todo-item-done" >Complete</label>
                                <input type="checkbox" class="todo-item-done-checkbox" checked>
                                <span class="checkmark"></span>
                            {{else}}
                            <label class="todo-item-done">Incomplete</label>
                                <input type="checkbox" class="todo-item-done-checkbox">
                                <span class="checkmark"></span>
                            
                            {{/if}}
                        </div>
                        <div class="todo-item-footer">
                            <div class="todo-item-date">
                                <p>{{this.createdAt}}</p>
                            </div>
                            <div class="todo-item-actions">
                                <button class="btn btn-primary edit-todo" id="{{this._id}}">Edit</button>
                                <button class="btn btn-danger delete-todo" id="{{this._id}}">Delete</button>
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>
  {{> footer}}

   <script
      src="https://cdn.jsdelivr.net/npm/dayjs@1.11.3/dayjs.min.js"
      integrity="sha256-iu/zLUB+QgISXBLCW/mcDi/rnf4m4uEDO0wauy76x7U="
      crossorigin="anonymous"
    ></script>
   <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"
      integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
<script src="/js/profile.js"></script>